/*making text white as default of the whole page.*/
/*I will use theme as red and white*/
*{
    color: rgb(0, 0, 0);
}
/*making background red shade*/
body{
    /* background-image: linear-gradient(to left, #f00, black); */
    background-image: url('../images/background-img.jpg');
    margin: 0;
    font-family: system-ui,cursive;
}
/*making the image fit in the div*/
.email-img{
    width: 50%;
}
.email-img img{
    width: 100%;
}
/*make the template select tag as black to stand out of white*/
select{
    color: black;
}
select option{
    color: black;
}
/*fitting iframe to fill inside the parent div*/
iframe{
    width: -webkit-fill-available;
}
/*fitting the certificate inside the parent div*/
.github-cert,.html-cert,.js-cert,.github-cert-testdome{
    width: -webkit-fill-available;
    height: 35%;
    padding: 5%;
    margin: 0px;
}
/*making footer background black*/
footer{
    background: black;
}
/*adding minimum margin of 8px to the header and main content*/
.headerMain{
    margin: 8px;
}
/*make h2 xx large*/
h2{
    font-size: xx-large;
    letter-spacing: 2px;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    overflow: hidden;
}
.skills{
    animation-name: stretch;
}
.certificates{
    animation-name: stretch2;
}
/*stretch for skills*/
@keyframes stretch{
    from {letter-spacing: 2px;}
    to {letter-spacing: 30px;}
}
/*stretch for certificaes*/
@keyframes stretch2{
    from {letter-spacing: 2px;}
    to {letter-spacing: 8px;}
}
/*make h1 xxx large*/
h1{
    font-size: xx-large;
    letter-spacing: 5px;
    font-family: math;
    padding-left: 10px;
}
/*pop out header from the rest of the screen by using margin*/
header{
    border: 3px solid black;
    box-shadow: 10px 0px black;
    border-bottom: 10px solid black;
}
/*list style circle*/
li{
    list-style: circle;
}
.header-p{
    background-image: linear-gradient(45deg, #e4e0e0, transparent);
    color: black;
    padding: 10%;
}
/*removing underline from anchor*/
a{
    text-decoration: none;
}
h3{
    font-size: x-large;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
    animation: color-change 5s linear 0s infinite alternate;
}
@keyframes color-change {
    from{color:rgb(0, 29, 96);}
    to{color: #ffffff;}
}
.images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5%;
}
.blog{
    border: 3px solid black;
    box-shadow: 0 3px black;
    border-bottom: 10px solid black;
    padding: 0px 10px;
}
label{
    display: none;
}
input,textarea{
    width: -webkit-fill-available;
    color: black;
    padding: 3%;
    border-radius: 14px;
    border: none;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
}
.submit{
    width: 30%;
    background-color: black;
    color: white;
}
/*and shadow to bold*/
b{
    color: black;
    text-shadow: 1px -1px white;
}
.temp{
    display: block;
}
a:hover{
    color: black;
    background-color: white;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formSpace{
    width: 100%;
    margin-top: 10%;
}
img{
    margin-top: 10%;
    margin-right: 10px;
}
i{
    padding-left: 1%;
}
.skill-nav{
    margin-left: 3%;
    border-radius: 12px;
}
.skill-drop, .skill-drop-cert{
    display: none;
    position: absolute;
    background: #8b8b8b;
    padding: 0;
    width: 30%;
    text-align: center;
}
.skill-item{
    color: black;
    list-style: none;
    padding: 5%;
}
.skill-item a{
    color: black;
}
.skill-item:hover{
    background-color: white;
    color:black;
}
.space-to-right{
    margin-right: 10px;
}
.email-p{
    padding-left:40px;
}
.contact-links{
    padding-top: 10px;
}
.contact-links li{
    list-style: none;
    width: 50%;
}
center{
    padding: 10px;
}
.rotate-img{
    transform: rotateY(0deg);
    animation-name: r;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.text-over-img-html span,.text-over-img-git span,.text-over-img-JS span{
    color: white;
}
.text-over-img-html span i,.text-over-img-git span i,.text-over-img-JS span i{
    color: white;
}
.text-over-img-html,.text-over-img-git,.text-over-img-JS{
    position: absolute;
    color: white;
    background-color: #d800009e;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
    padding: 5% 0px;
    display: none;
}
.fa-arrow-circle-left{
    float: left;
}
.fa-arrow-circle-right{
    float: right;
}
.multiple-images,.git-cert-group{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
article a{
    color: blue;
    text-decoration: underline;
}
center, .w-link, .fa, .email-p span{
    color: white;
}
@keyframes r {
    from{ transform: rotateY(0deg);}
    to{ transform: rotateY(360deg);}
}
@media screen and (min-width: 768px) {
    .headerMain{
        margin: 50px;
    }
    h2{
        font-size: xxx-large;
    }
    h3{
        font-size: xx-large;
    }
    .contact-links li {
        width: 103px;
    }
    .github-cert, .html-cert, .js-cert, .github-cert-testdome{
        width: 35%;
        padding-top: 0;
    }
    .form{
        flex-direction: row;
        gap: 50px;
        margin-bottom: 50px;
    }
    nav ul{
        width: 100px;
    }
    h1{
        font-size: xxx-large;
        text-align: center;
    }
    .header-p{
        padding: 5%;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }
    .skill-drop, .skill-drop-cert{
        display: none;
        position: absolute;
        background: #8b8b8b;
        padding: 0;
        width: 15%;
        text-align: center;
    }
    .flex-contact-links{
        display: flex;
        flex-direction: column;
    }
    .contact-links{
        display: flex;
        justify-content: space-around;
    }
    .images{
        padding: 0;
    }
    img{
        margin-top: 50px;
    }
    .text-over-img-html,.text-over-img-git,.text-over-img-JS{
        width: 35%;
        text-align: center;
        padding: 1% 0px;
    }
  }