*{
    letter-spacing: 1px;
}

body{
    background-image: linear-gradient(to left, #09824b, black);
    color: cornsilk;
    font-family: cursive;
}
header{
    background-image: linear-gradient(45deg, lightcoral, #7df2cf);
    padding: 1% 6%;
    margin: 4% 17%;
    border-top-left-radius: 15%;
    box-shadow: 81px 49px 6px;
}
footer{
    background-color: black;
    padding: 1%;
}

.formSpace{
    width: 100%;
    margin: 5%;
}
.w-link{
    color: white;
}
.temp{
    display: block;
}
.temp-form{
    float: right;
}
.form{
    background-image: linear-gradient(45deg, lightcoral, #7df2cf);
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get-to-top{
    text-decoration: underline;
}
.get-to-top:hover{
    color: blue !important;
}
input, textarea{
    width: 100%;
    height: 25px;
    border-radius: 27px;
    padding: 2%;
    border:none;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header p{
    font-size: x-large;
}
h1{
    color: black;
    font-size: xxx-large;
    margin-bottom: 4%;
    border: 5px solid #895858;
    border-top: none;
    border-right: none;
    padding: 2%;
    border-radius: 24%;
}
h2{
    font-size: xx-large;
    letter-spacing: 15px;
}
.images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
h3{
    text-transform: uppercase;
    color: black;
    font-size: x-large;
    margin: 2% 0 10% 0;
    text-align: center;
    color: white;
}
h2{
    text-transform: uppercase;
    color: #ffffff;
    font-size: xxx-large;
    margin: 7% 10%;
    padding: 2%;
    border: 10px solid #895858;
    border-top: 0;
    border-right: 0;
    display: inline-block;
    border-radius: 24%;
}
.blog{
    padding: 1%;
    margin: 1%;
    background: transparent;
    color: black;
    height: 800px;
    overflow-y: scroll;
    color: white;
    width: -webkit-fill-available;
}
.styling{
    margin-top: 10%;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.certs{
    display: flex;
}
.github-cert,.html-cert,.js-cert,.github-cert-testdome{
    width: -webkit-fill-available;
    height: 35%;
}
.github-cert-testdome{
    display: none;
}
span{
    cursor: pointer;
}
iframe{
    width: -webkit-fill-available;
}
legend{
    text-align: center;
    font-size: xx-large;
}
a{
    text-decoration: none;
    color:#0000ffa8;
}
a:hover{
    color:blue;
}
.contact-links li a{
    color: rgba(255, 255, 255, 0.823);
}
.contact-links li a:hover{
    color: white;
}
.space-to-right{
    margin-right: 10px;
}
.email-p{
    padding-left:10px;
}
li{
    list-style: none;
}
.contact-links{
    padding-top: 10px;
    padding-left: 10px;
}
.contact-links li{
    list-style: none;
}
.group-skills{
    display: flex;
    justify-content: space-evenly;
}
.email-img{
    width: 50%;
}
.email-img img{
    width: 100%;
}
label{
    display: none;
}
.submit{
    width: auto;
    padding: 0 5%;
    background: rgba(0, 0, 0, 0.742);
    color: white;
    justify-content: center;
    align-items: center;
}
.submit:hover{
    background:black;
}
.bubbles{
    position: fixed;
}
.b1,.b3,.b4,.b5,.b6{
    display: inline-block;
    background: #85b39e94;
    border-radius: 50%;
}
.b1{width: 100px;
    height: 100px; position: absolute;animation: bubble1 10s linear 0s infinite reverse;}
.b3{width: 50px;
    height: 50px; position: absolute;animation: bubble3 14s linear 0s infinite reverse;}
.b4{width: 150px;
    height: 150px; position: absolute;animation: bubble4 16s linear 0s infinite reverse;}
.b5{width: 70px;
    height: 70px; position: absolute;animation: bubble5 8s linear 0s infinite reverse;}
.b6{width: 110px;
    height: 110px; position: absolute;animation: bubble6 9s linear 0s infinite reverse;}
@keyframes bubble1 {
    from{
        top:0;
        left:0;
    }
    to{
        top:100vh;
        left:0px;
    }
}
@keyframes bubble3 {
    from{
        top:0;
        left:400px;
    }
    to{
        top:100vh;
        left:400px;
    }
}
@keyframes bubble4 {
    from{
        top:0;
        left:600px;
    }
    to{
        top:100vh;
        left:600px;
    }
}
@keyframes bubble5 {
    from{
        top:0;
        left:1000px;
    }
    to{
        top:100vh;
        left:1000px;
    }
}
@keyframes bubble6 {
    from{
        top:0;
        left:1400px;
    }
    to{
        top:100vh;
        left:1400px;
    }
}
.skill-drop, .skill-drop-cert{
    display: none;
    position: absolute;
    background: #beb2a3;
    padding: 0;
    width: 30%;
    text-align: center;
    right: 26px;
}
/*  media queries for responsive design*/
@media (max-width:426px) and (min-width:320px){
.github-cert,.html-cert,.js-cert,iframe{
    width: 100%;
}
.submit{
    width: -webkit-fill-available;
}
.certs{
    flex-direction: column;
}
.blog{
    height: auto;
    overflow-y: visible;
}
.group-skills{
    flex-direction: column;
}
h1{
    font-size: xx-large;
    padding: 10%;
}
h2{
    font-size: xx-large;
    letter-spacing: normal;
    margin: 5%;
}
.form{background-image: linear-gradient(45deg, lightcoral, #7df2cf);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
header{
    margin: 0px;
    box-shadow: 190px 27px 6px;
}
header p{
    font-size: medium;
}
nav{
    text-align: end;
}
}
@media (min-width:768px){
    .git-cert-group{
        text-align: center;
    }
    nav{
        display: flex;
    }
    .flex-contact-links{
        display: flex;
        flex-direction: column;
    }
    .contact-links{
        display: flex;
        justify-content: space-around;
    }
    .skill-drop, .skill-drop-cert{
        display: none;
        position: absolute;
        float: right;
        background: #8b8b8b;
        padding: 0;
        width: 15%;
        text-align: center;
    }
}